@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string adminFirstName = HttpContextAccessor.HttpContext.Session.GetString("adminFirstName");
    string adminLastName = HttpContextAccessor.HttpContext.Session.GetString("adminLastName");
    string adminImage = HttpContextAccessor.HttpContext.Session.GetString("adminImage");
    string adminEmail = HttpContextAccessor.HttpContext.Session.GetString("adminEmail");
    if (string.IsNullOrEmpty(adminImage))
    {
        adminImage = "default-user-icon.png";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]  - Hệ thống Admin SportswearShop </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <!-- Fonts and icons -->
    <script src="~/public/admin/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Be Vietnam Pro:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/public/admin/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="~/public/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/public/admin/css/atlantis.min.css">
    <style>
        .swal-footer, .swal-text {
            text-align: center;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">

                <a href="/Admin/Dashboard" class="logo">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
                <div class="container-fluid">
                    <div class="collapse" id="search-nav">
                        <form class="navbar-left navbar-form nav-search mr-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pr-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search  " class="form-control">
                            </div>
                        </form>
                    </div>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item toggle-nav-search hidden-caret">
                            <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <!--<li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                                <li>
                                    <div class="dropdown-title d-flex justify-content-between align-items-center">
                                        Messages
                                        <a href="#" class="small">Mark all as read</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="message-notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="./public/admin/images/jm_denis.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="subject">Jimmy Denis</span>
                                                    <span class="block">
                                                        How are you ?
                                                    </span>
                                                    <span class="time">5 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="./public/admin/images/chadengle.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="subject">Chad</span>
                                                    <span class="block">
                                                        Ok, Thanks !
                                                    </span>
                                                    <span class="time">12 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="./public/admin/images/mlane.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="subject">Jhon Doe</span>
                                                    <span class="block">
                                                        Ready for the meeting today...
                                                    </span>
                                                    <span class="time">12 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="../assets/img/talha.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="subject">Talha</span>
                                                    <span class="block">
                                                        Hi, Apa Kabar ?
                                                    </span>
                                                    <span class="time">17 minutes ago</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="notification">4</span>
                            </a>
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                    <div class="dropdown-title">You have 4 new notification</div>
                                </li>
                                <li>
                                    <div class="notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                            <a href="#">
                                                <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        New user registered
                                                    </span>
                                                    <span class="time">5 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Rahmad commented on Admin
                                                    </span>
                                                    <span class="time">12 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="./public/admin/images/profile2.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Reza send messages to you
                                                    </span>
                                                    <span class="time">12 minutes ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Farrah liked Admin
                                                    </span>
                                                    <span class="time">17 minutes ago</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                                <i class="fas fa-layer-group"></i>
                            </a>
                            <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
                                <div class="quick-actions-header">
                                    <span class="title mb-1">Lối tắt</span>
                                </div>
                                <div class="quick-actions-scroll scrollbar-outer">
                                    <div class="quick-actions-items">
                                        <div class="row m-0">
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <i class="flaticon-file-1"></i>
                                                    <span class="text">Generated Report</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <i class="flaticon-database"></i>
                                                    <span class="text">Thêm danh mục sản phẩm mới</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <i class="flaticon-pen"></i>
                                                    <span class="text">Thêm thương hiệu mới</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <i class="flaticon-interface-1"></i>
                                                    <span class="text">Thêm sản phẩm mới</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <i class="flaticon-list"></i>
                                                    <span class="text">Thêm bài viết mới</span>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>-->
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">

                                    <img src="~/public/admin/images/@adminImage" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>

                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <div class="dropdown-user-scroll scrollbar-outer">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="~/public/admin/images/@adminImage" alt="image profile" class="avatar-img rounded"></div>
                                        <?php
                                        $userId = Session::get('UserId');
                                        ?>
                                        <div class="u-text">
                                            <h4>@adminLastName @adminFirstName</h4>
                                            <p class="text-muted">@adminEmail</p><a href="~/Admin/logout" class="btn btn-xs btn-secondary btn-sm">Đăng xuất</a>
                                        </div>
                                    </div>
                                </li>
                                @*<li>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="~/Admin/logout">Đăng xuất</a>
                                </li>*@
                            
                </div>
                </ul>
                </li>
                </ul>
        </div>
        </nav>
        <!-- End Navbar -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar sidebar-style-2">
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <div class="user">
                    <div class="avatar-sm float-left mr-2">
                        <img src="~/public/admin/images/@adminImage" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#" aria-expanded="true">
                            <span>
                                    @adminLastName @adminFirstName
                                <!-- Hizrian -->
                                <span class="user-level">Quản trị viên</span>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <ul class="nav nav-primary">
                    <li class="nav-item active">
                        <a href="/Admin/Dashboard">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#danhmuc">
                            <i class="fas fa-layer-group"></i>
                            <p>Danh mục sản phẩm</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="danhmuc">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/MenuManagement/add_product_menu">
                                        <span class="sub-item">Thêm danh mục sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/MenuManagement/view_product_menu">
                                        <span class="sub-item">Xem danh mục sản phẩm</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    @*<li class="nav-item">
                        <a data-toggle="collapse" href="#sidebarLayouts">
                            <i class="fab fa-apple"></i>
                            <p>Thương hiệu</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sidebarLayouts">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/BrandManagement/view_brand">
                                        <span class="sub-item">Xem thương hiệu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/BrandManagement/view_subbrand">
                                        <span class="sub-item">Xem thương hiệu nhánh</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/BrandManagement/add_subbrand">
                                        <span class="sub-item">Thêm thương hiệu nhánh</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#sanpham">
                            <i class="fas fa-boxes"></i>
                            <p>Sản phẩm</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sanpham">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/ProductManagement/add_product">
                                        <span class="sub-item">Thêm sản phẩm</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/ProductManagement/view_product">
                                        <span class="sub-item">Xem sản phẩm</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#bill">
                            <i class="fa fa-shopping-cart"></i>
                            <p>Đơn hàng</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="bill">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/BillManagement/view_bill_khachhangs">
                                        <span class="sub-item">Khách hàng mua bằng tài khoản người dùng</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/BillManagement/view_bill_vanglais">
                                        <span class="sub-item">Khách hàng mua tự do</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    @*<li class="nav-item">
                        <a href="/OrderManagement/view_order">
                            <i class="fa fa-shopping-cart"></i>
                            <p>Quản lý đơn hàng</p>
                        </a>
                    </li>*@
                    @*<li class="nav-item">
                        <a data-toggle="collapse" href="#charts">
                            <i class="fas fa-file-alt"></i>
                            <p>Quản lý Blog</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="charts">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/BlogManagement/add_content">
                                        <span class="sub-item">Thêm bài đăng</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/BlogManagement/view_content">
                                        <span class="sub-item">Tất cả bài đăng</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#khachhang">
                            <i class="fas fa-users"></i>
                            <p>Tài khoản người dùng</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="khachhang">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/UserManagement/add_admin_user">
                                        <span class="sub-item">Thêm tài khoản admin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/UserManagement/view_admin_user">
                                        <span class="sub-item">Xem tài khoản admin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/UserManagement/view_client_user">
                                        <span class="sub-item">Xem tài khoản khách hàng</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#banner">
                            <i class="fas fa-flag"></i>
                            <p>Banner</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="banner">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/BannerManagement/add_banner">
                                        <span class="sub-item">Thêm Banner slider</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/BannerManagement/view_banner">
                                        <span class="sub-item">Xem Banner slider</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#khuyenmai">
                            <i class="fas fa-hand-holding-usd"></i>
                            <p>Chương trình khuyến mãi</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="khuyenmai">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/PromotionManagement/add_promotion">
                                        <span class="sub-item">Thêm chương trình khuyến mãi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/PromotionManagement/view_promotion">
                                        <span class="sub-item">Xem chương trình khuyến mãi</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    @*<li class="nav-item">
                        <a href="/CommentManagement/view_comment">
                            <i class="fas fa-comments"></i>
                            <p>Bình luận</p>
                        </a>
                    </li>*@
                    @*<li class="nav-item">
                        <a href="/RatingManagement">
                            <i class="fas fa-star"></i>
                            <p>Đánh giá</p>
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#vanchuyen">
                            <i class="fas fa-shipping-fast"></i>
                            <p>Vận chuyển</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="vanchuyen">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="/ShipMethodManagement/add_shipmethod">
                                        <span class="sub-item">Thêm phương thức vận chuyển mới</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/ShipMethodManagement/view_shipmethod">
                                        <span class="sub-item">Xem các phương thức vận chuyển</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/ShipMethodManagement/view_extra_shipfee">
                                        <span class="sub-item">Vận chuyển theo địa phương</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
        <a href="widgets.html">
            <i class="fas fa-desktop"></i>
            <p>Widgets</p>
            <span class="badge badge-success">4</span>
        </a>
    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#submenu">
                            <i class="fas fa-bars"></i>
                            <p>Menu Levels</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="submenu">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a data-toggle="collapse" href="#subnav1">
                                        <span class="sub-item">Level 1</span>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="subnav1">
                                        <ul class="nav nav-collapse subnav">
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a data-toggle="collapse" href="#subnav2">
                                        <span class="sub-item">Level 1</span>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="subnav2">
                                        <ul class="nav nav-collapse subnav">
                                            <li>
                                                <a href="#">
                                                    <span class="sub-item">Level 2</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sub-item">Level 1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>-->

                </ul>
            </div>
        </div>
    </div>
                    <!-- End Sidebar -->
        @RenderBody()
                    <footer class="footer">
                        <div class="container-fluid">
                            <nav class="pull-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            SportwearShop
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            Help
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            Licenses
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="copyright ml-auto">
                2022, made with <i class="fa fa-heart heart text-danger"></i> by <a href="#">SportwearShop Team</a>
                            </div>
                        </div>
                    </footer>
</div>

    <!-- <script src="~/public/admin/js/jquery.form-validator.min.js"></script>
    <script>
        $.validate{

        }
    </script> -->
    <script src="~/public/ckeditor/ckeditor/ckeditor.js"></script>
    <script>
        //CKEDITOR.replace('ckeditor');
        CKEDITOR.replace('ckeditor1', {
            extraPlugins: 'lineheight',
            name: 'content',
        });
    </script>

    <!--   Core JS Files   -->
    <script src="~/public/admin/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/public/admin/js/core/popper.min.js"></script>
    <script src="~/public/admin/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/public/admin/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/public/admin/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/public/admin/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="~/public/admin/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/public/admin/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/public/admin/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/public/admin/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/public/admin/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/public/admin/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/public/admin/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/public/admin/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="~/public/admin/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="~/public/admin/js/setting-demo.js"></script>
    <script src="~/public/admin/js/demo.js"></script>
    <script>
        Circles.create({
            id: 'circles-1',
            radius: 45,
            value: 60,
            maxValue: 100,
            width: 7,
            text: 5,
            colors: ['#f1f1f1', '#FF9E27'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-2',
            radius: 45,
            value: 70,
            maxValue: 100,
            width: 7,
            text: 36,
            colors: ['#f1f1f1', '#2BB930'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        Circles.create({
            id: 'circles-3',
            radius: 45,
            value: 40,
            maxValue: 100,
            width: 7,
            text: 12,
            colors: ['#f1f1f1', '#F25961'],
            duration: 400,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            styleWrapper: true,
            styleText: true
        })

        var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

        var mytotalIncomeChart = new Chart(totalIncomeChart, {
            type: 'bar',
            data: {
                labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
                datasets: [{
                    label: "Total Income",
                    backgroundColor: '#ff9e27',
                    borderColor: 'rgb(23, 125, 255)',
                    data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            display: false //this will remove only the label
                        },
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            display: false
                        }
                    }]
                },
            }
        });

        $('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: 'line',
            height: '70',
            width: '100%',
            lineWidth: '2',
            lineColor: '#ffa534',
            fillColor: 'rgba(255, 165, 52, .14)'
        });
    </script>
</body>
</html>