@using System.Globalization;
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<div id="loader">
    <div class="loader-inner">
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
    </div>
    <div class="load">Loading . . . </div>
</div>
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/template/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        LIÊN HỆ
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-60">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Câu chuyện của chúng tôi
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Khách hàng là rất quan trọng, khách hàng sẽ được theo dõi bởi khách hàng. Trên thực tế, nó không phải là tác giả của bóng rổ đại chúng. Một đống bệnh mà ghét. Mọi người tại các phương tiện hạ cánh, nhưng tin đồn tuyên truyền. Và khi lũ Orc được sinh ra, những ngọn núi sẽ sinh ra những chiếc lông vũ và những mũi tên tuyệt vời, và một con chuột lố bịch sẽ ra đời. Maecenas là một người đàn ông có nhiều sở thích khác nhau và các thành viên trong gia đình anh ấy sợ bài tập về nhà. Trẻ em sống với bệnh tật, tuổi già và trẻ em và họ đang phải chịu đói và nghèo. Maecenas mang thai just eu arcu egestas convallis. Không cần phải uống, vì người ta nói rằng anh ấy cần thời gian. Cho đến lúc đó, nó không giống như một sản phẩm của cuộc sống hoặc khuyến mãi. điện thoại thông minh Như là đường kính. Cho đến khi nước sốt của tortor eismod, nó cần dễ dàng cắt cổ họng và Bệnh tật hết lần này đến lần khác.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Cho đến khi chúng tôi có thai, chúng tôi sẽ luôn có nước sốt ngon. Anh ấy cần một cái túi lớn. Một số thành viên có một số kinh phí. Là một trường sinh thái trong các phương tiện. Bài tập về nhà của trẻ em và y tế như mang thai. Đó là một ngày cuối tuần. Cho đến khi mũi tên của cung dễ dàng, các thành viên của đội bóng đá đã bị bắn tên. Ngay cả những đứa trẻ lớn hay trang điểm đã nói, chứ không chỉ các eleifends, hay các nhà phát triển đã cung trở thành một món salad. Mà trang điểm, căn cứ chế tạo thuận lợi, là cái thung lũng tự mình muốn, quan trọng nhất chính là nhỏ nhỏ nhỏ nhỏ.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Nếu bạn có bất kỳ câu hỏi nào? Hãy cho chúng tôi biết tại cửa hàng ở tầng 12, Tòa Nhà E, Trường Đại Học Công Nghệ Thông Tin, ĐHQG-TPHCM hoặc gọi cho chúng tôi theo số (+84) 54 726 801
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="/template/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Nhiệm vụ của chúng tôi
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Mauris không phải là một lacinia vĩ đại. Nhưng thuốc cũng không đau. Vestibulum rhoncus dinissim risus, nhưng nó phải được tuân theo. Trẻ em sống với bệnh tật, tuổi già và trẻ em và họ đang phải chịu đói và nghèo. Không có mauris vĩ đại, mà là sự thù hận của thung lũng, trong rung động của những trọng lực vĩ ​​đại. Nhưng giờ đã đến lúc nhân viên của tôi phải ra đi. Tôi ghét cuộc sống hoạt hình. Pellentesque ac velit egestas, luctus arcu non, laoreet mauris. Nhưng đồng thời, kết quả là đáng ghét trước hãng hàng không. Khi còn trẻ, cuối tuần đoàn viên, đừng ghét cổng. Hiện tại, chiếc bình của cuộc đời tôi là tiền sảnh của tôi, và không có chất độc nào trong đó. Nhưng trước khi mang thai. Tác giả thuần khiết nhất tại hồ eismmod lớn nhất. Pellentesque vulputate khối lượng như nisl hendrerit, cần một yếu tố của mục tiêu tự do.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Sáng tạo chỉ là kết nối mọi thứ. Khi bạn hỏi những người sáng tạo rằng họ đã làm điều gì đó như thế nào, họ sẽ cảm thấy hơi tội lỗi vì họ không thực sự làm điều đó, họ chỉ nhìn thấy điều gì đó. Nó dường như rõ ràng với họ sau một thời gian.
                        </p>

                        <span class="stext-111 cl8">
                            - Tăng Đức Said :)))
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="/template/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-section">
    <!-- about left  -->
    <div class="about-left">
        <img src="/template/images/Logo/contactus.png" width="350px" />
    </div>

    <!-- about right  -->
    <div class="about-right">
        <h1>Về chúng tôi</h1>
        <p>
            Bản thân công ty là một công ty rất thành công. Hãy để con nợ chạy trốn khỏi nỗi đau, nhưng giống như hầu hết các cơn đau, vì những thú vui được gọi là thú vui, hoặc tùy chọn từ chối nó, hoặc vào thời điểm nó tự xảy ra. Bị từ chối, bị từ chối.
        </p>
        <div class="address">
            <ul>
                <li>
                    <span class="address-logo">
                        <i class="fa fa-paper-plane"></i>
                    </span>
                    <p>Địa chỉ</p>
                    <span class="saprater">:</span>
                    <p>Toà E, UIT</p>
                </li>
                <li>
                    <span class="address-logo">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                    <p>Số ĐT</p>
                    <span class="saprater">:</span>
                    <p>+12 345-678-2222</p>
                </li>
                <li>
                    <span class="address-logo">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    <p>Email</p>
                    <span class="saprater">:</span>
                    <p>uit@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="expertise">
            <h3>Kinh Nghiệm</h3>
            <ul>
                <li>
                    <span class="expertise-logo">
                        <i class="fa fa-html5" aria-hidden="true"></i>
                    </span>
                    <p>HTML</p>
                </li>
                <li>
                    <span class="expertise-logo">
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </span>
                    <p>CSS</p>
                </li>
                <li>
                    <span class="expertise-logo">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                    </span>
                    <p>JavaScript</p>
                </li>
                <li>
                    <span class="expertise-logo">
                        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                    </span>
                    <p>Laravel</p>
                </li>
            </ul>
        </div>
    </div>
</section>

